[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-pig"]
	path = bundle/vim-pig
	url = git://github.com/vim-scripts/pig.vim.git
[submodule "bundle/vim-gnuplot"]
	path = bundle/vim-gnuplot
	url = git://github.com/vim-scripts/gnuplot.vim.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/vim-instant-markdown"]
	path = bundle/vim-instant-markdown
	url = git://github.com/suan/vim-instant-markdown.git
[submodule "bundle/gist"]
	path = bundle/gist
	url = git://github.com/mattn/gist-vim.git
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = git@github.com:sukima/xmledit.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule "bundle/vimshell"]
	path = bundle/vimshell
	url = git@github.com:Shougo/vimshell.vim.git
[submodule "bundle/conque-shell"]
	path = bundle/conque-shell
	url = git@github.com:oplatek/Conque-Shell.git
[submodule "bundle/vim2hs"]
	path = bundle/vim2hs
	url = git@github.com:dag/vim2hs.git
[submodule "bundle/vim-hug-neovim-rpc"]
	path = bundle/vim-hug-neovim-rpc
	url = git@github.com:roxma/vim-hug-neovim-rpc.git
[submodule "bundle/nvim-yarp"]
	path = bundle/nvim-yarp
	url = git@github.com:roxma/nvim-yarp.git
[submodule "bundle/deoplete.nvim"]
	path = bundle/deoplete.nvim
	url = git@github.com:Shougo/deoplete.nvim.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = git@github.com:w0rp/ale.git
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = git@github.com:Shougo/vimproc.vim.git
[submodule "bundle/vim-qf_resize"]
	path = bundle/vim-qf_resize
	url = git@github.com:blueyed/vim-qf_resize.git
[submodule "bundle/intero-neovim"]
	path = bundle/intero-neovim
	url = git@github.com:parsonsmatt/intero-neovim.git
[submodule "bundle/vim-plugin-AnsiEsc"]
	path = bundle/vim-plugin-AnsiEsc
	url = git@github.com:powerman/vim-plugin-AnsiEsc.git
[submodule "bundle/oceanic-material"]
	path = bundle/oceanic-material
	url = git@github.com:glepnir/oceanic-material.git
